@CHARSET "ISO-8859-1";
.labelnombre{
	color:#FFA834;
}

.labelcelular{
	color:#FFA834;
}

.labelcontrasena{
	color:#FFA834;
}

.labelrepcontrasena{
	color:#0C59CF;
}

.labellicencia{
	color:#FFA834;
}

.labeldireccion{
	color:#FFA834;
}

.labelentidad{
	color:#0C59CF;
}

.labelemail{
	color:#0C59CF;
}

.labelapellido{
	color:#0C59CF;
}

.labelcedula{
	color:#0C59CF;
}

.botonregistrar{
	background:#0C59CF;
	border:solid #c0c0c0;
	color:#FFFFFF;
}

.transparente1{
	color: #C0C0C0;
}

.transparente2{
	color: #C0C0C0;
}

.transparente3{
	color: #C0C0C0;
}

.transparente4{
	color: #C0C0C0;
}

.transparente5{
	color: #C0C0C0;
}

.transparente6{
	color: #C0C0C0;
}

.transparente7{
	color: #C0C0C0;
}

.transparente8{
	color: #C0C0C0;
}

.transparente9{
	color: #C0C0C0;
}

.transparente10{
	color: #C0C0C0;
}